<section class="card checkins">
  <form name="myform" ng-submit="addCheckin()" novalidate>

    <div class="textintro">
      <h1>Nominate</h1>
      <p>Fill in this form to nominate an employee
        <a ng-href="#/meetings"> back to nominations</a>
      </p>


      <p class="error form" ng-show="message ">{{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name"
      ng-model="user.firstname" ng-required="true">
      <p class="error validationerror">
      First name required</p>

      <input type="text" name="lastname" placeholder="Last Name"
      ng-model="user.lastname" ng-required="true">
      <p class="error validationerror">
      Last name required</p>

      <input type="email" name="email" placeholder="Email"
      ng-model="user.email" ng-required="true">
      <p class="error validationerror">
        Must be a valid email</p>
    </fieldset>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Submit</button>
  </form>
</section>
