<div class="card meetings cf">

  <div class="textintro">
    <h1>Create New Nomination</h1>
    <p>Type an award name and click +</p>
    
  </div><!--Textintro-->

  <form class="formgroup addmeeting cf" name="myform" novalidate>
  	<div class="inputwrapper">
  		<input type="text" name="meetingname" placeholder="Award Name" ng-required="true">

  	</div>
  	<button type="submit" class="btn">+</button>
  </form>

  <h2>Your Meetings</h2>
  <div class="meeting"> 
  	<p>Add Content Here</p>
  </div>

</div><!-- meetings cf -->
